/* Embedded Fonts */

@font-face {
	font-family: "DIN-Regular";
	src: url("DIN-Regular.otf") format("opentype");
}
@font-face {
	font-family: "DIN-Light";
	src: url("DIN-Light.otf") format("opentype");
}
@font-face {
	font-family: "MinionPro-Regular";
	src: url("MinionPro-Regular.otf") format("opentype");
}
@font-face {
	font-family: "MinionPro-Regular";
	src: url("MinionPro-Bold.otf") format("opentype");
	font-weight: bold
}
@font-face {
	font-family: "MinionPro-Regular";
	src: url("MinionPro-It.otf") format("opentype");
	font-style: italic;
}
@font-face {
	font-family: "MinionPro-Regular";
	src: url("MinionPro-BoldIt.otf") format("opentype");
	font-weight: bold;
	font-style: italic;
}

a { text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font: 20px "MinionPro-Regular", helvetica, arial, clean, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #0f4c81;
}

a:hover, .title:hover {
	text-decoration: underline;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
}

  ul.posts li {
    line-height: 1.325em;
  }

  ul.posts span {
    color: #aaa;
    font-family: "DIN-Light", Monaco, "Courier New", monospace;
    font-size: 85%;
    letter-spacing: .25px;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site .footer {
}

.title {
  color: #D94F70;
  font-size: 110%;
  font-weight: bold;
  font-family: "DIN-Regular";
  letter-spacing: .5px;
  margin-bottom: 1.5em;
  margin-top: 2em;
}

  .site .title a {
    color: #BF1932;
    text-decoration: none;
  }


  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .footer {
    font-size: 80%;
    font-family: "DIN-Light";
    line-height: 1.425em;
    color: #666;
    border-top: 4px solid #eee;
    overflow: hidden;
  }
  
    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }
    .site .footer .rss {
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }
.flex-wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
  font-size: 100%;
  width: 30em;
  line-height: 1.325em;
  margin: 0 auto 0 auto;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  #post img {
    max-width: 42em;
    padding: 1em 0;
  }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }
