@font-face {
    font-family: "NationalBold";
    src: url("National-Bold.otf") format("opentype");
}
@font-face {
    font-family: "NationalBlack";
    src: url("National-Black.otf") format("opentype");
}
@font-face {
	font-family: "MinionPro";
	src: url("MinionPro-Regular.otf") format("opentype");
}
@font-face {
	font-family: "MinionPro";
	src: url("MinionPro-Bold.otf") format("opentype");
	font-weight: bold
}
@font-face {
	font-family: "MinionPro";
	src: url("MinionPro-It.otf") format("opentype");
	font-style: italic;
}
@font-face {
	font-family: "MinionPro";
	src: url("MinionPro-BoldIt.otf") format("opentype");
	font-weight: bold;
	font-style: italic;
}
:root {
    --mobile-vh: 100vh;
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #0f4c81;
}
a:hover{
	text-decoration: underline;
}
p {
    padding: 0 0 1em 0;
}
body {
    font: 20px "MinionPro";
}
.flex-wrapper {
    line-height: 1.3em;
    width: 30em;
    min-height: 100vh;
    margin: 0 calc(50vw - 15em) 0 calc(50vw - 15em);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header {
    margin-top: 2.5em;
    padding-bottom: 0.25em;
    border-bottom: 4px solid #BF1932CC;
    margin-bottom: 1.38em;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.banner {
    display: inline-block;
}
    a.banner {
        font-family: "NationalBlack";
        font-size: 2em;
        color: #BF1932;
    }
.nav {
    display: inline-block;
}
    a.nav {
        font-family: "NationalBold";
        font-size: 1.25em;
        color: #0f4c81;
    }
.site {
        margin: 0 0 1em 0;
        flex-grow: 1;
}
.entry {
    margin-bottom: 1em;
}
.title {
    font-family: "NationalBold";
    font-size: 1.25em;
    color: #0f4c81;
}
.date {
    font-family: "NationalBold";
    color: #aaa;
    padding-bottom: 0.15em;
}
a.pagination {
    font-family: "NationalBold";
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .flex-wrapper {
        width: 90vw;
        min-height: calc(var(--mobile-vh));
        margin: 0 auto 0 auto;
    }
}
