<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
        <meta name="author" content="Laurence Lu" />
        <link rel="stylesheet" href="/css/style.css" type="text/css"/>
        <!--<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="/css/mobile.js"></script>
    </head>
    <body>
        <div class="flex-wrapper">
            <header>
                <div class="banner">
                    <a href="/" class="banner">trough.club</a>
                </div>
                <div class="nav">
                    <a href="/about.html" class="nav">about</a>
                </div>
            </header>
            <div class="site">
                {{ content }}
            </div>
        </div>
    </body>
</html>
